.body,html{
    background-color: #446484;
}
.container{
    position:absolute;
    top:520px;
    left:220px;
    animation: moveUp 2s infinite;
}

.rocket{
    position: absolute;
    
}
.head{
    background-color: #C0392B;
    border-radius: 90px 90px 0px 0px;
    height: 50px;
    width: 90px;
    left: 650px;
    top: 150px;
}
.trunk{
    background-color: #BDC3C7;
    height: 200px;
    width: 90px;
    top: 200px;
    left: 650px;
}
.windowsil{
    background-color: #3498DB;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    top: 235px;
    left: 675px;  
}
.window{
    background-color: #34495E;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    top: 230px;
    left: 670px;
}
.l-wing1{
    top:285px;
    left:590px;
    width: 0;
    height: 0;
    border-bottom: 60px solid #C0392B;
    border-left: 60px solid transparent;
}
.l-wing2{
    top:345px;
    left:590px;
    width: 0;
    height: 0;
    border-top: 60px solid #C0392B;
    border-right: 60px solid transparent;
}
.r-wing1{
    top:285px;
    left:740px;
    width: 0;
    height: 0;
    border-bottom: 60px solid #C0392B;
    border-right: 60px solid transparent;
}
.r-wing2{
    top: 343px;
    left: 739px;
    width: 0;
    height: 0;
    border-top: 60px solid #C0392B;
    border-left: 60px solid transparent;
}
    
.base{
    top:400px;
    left:640px;
    border-bottom: 30px solid #C0392B;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    width: 60px;
}

@keyframes moveUp{
    from{
        transform:translate(0px,0px);
    }
    to{
        transform:translate(0px,-600px);
    }
}